.header-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
.body-container{
    display: flex;
    background-color: white;
    padding: 20px;
}
.quote-container{
    display: flex;
    background-color: #E5E7EB;
    padding: 20px;
}
.signup-container{
    display: flex;
    background-color: white;
    padding: 20px;
}
.footer-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
.nav-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
img{
    width: 500px;
    height: 200px;
    background-color: grey;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}