.header-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
.body-container{
    display: flex;
    background-color: white;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}
.quote-container{
    display: flex;
    background-color: #E5E7EB;
    padding: 20px;
}
.signup-container{
    display: flex;
    background-color: white;
    padding: 20px;
}
.footer-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
.nav-container{
    display: flex;
    background-color: #1F2937;
    padding: 20px;
}
img{
    width: 500px;
    height: 200px;
    background-color: grey;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item-wrap{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.item{
    border: 2px solid #3882F6;
    width: 50px;
    padding: 50px;
    text-align: center;
    position: relative;
    
}
.item span{
    position: absolute;
    bottom: -104px;
    right: 0;
}